@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{


    <script src="/assets/Client/js/controller/cartController.js"></script>
}
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="/Home/Index">Trang chủ</a>
                            </li>
                            <li class="is-marked">

                                <a href="/thanh-toan">Thanh toán</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <!--====== End - Section 2 ======-->
    <!--====== Section 3 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="checkout-f">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="checkout-f__h1">THÔNG TIN GIAO HÀNG</h1>
                            @*<form class="checkout-f__delivery">*@
                                <div class="u-s-m-b-30">

                                @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                                {
                                    <!--====== First Name, Last Name ======-->

                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="shipName">NGƯỜI NHẬN *</label>

                                        <input class="input-text input-text--primary-style" type="text" name="shipName" data-bill="">
                                    </div>
                                    <!--====== End - First Name, Last Name ======-->
                                    <!--====== E-MAIL ======-->
                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="email">E-MAIL *</label>

                                        <input class="input-text input-text--primary-style" type="text" name="email" data-bill="">
                                    </div>
                                    <!--====== End - E-MAIL ======-->
                                    <!--====== PHONE ======-->
                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="mobile">ĐIỆN THOẠI *</label>

                                        <input class="input-text input-text--primary-style" type="text" name="mobile" data-bill="">
                                    </div>
                                    <!--====== End - PHONE ======-->
                                    <!--====== Street Address ======-->
                                    <div class="u-s-m-b-15">

                                        <label class="gl-label" for="address">ĐỊA CHỈ *</label>

                                        <input class="input-text input-text--primary-style" type="text" name="address" data-bill="">
                                    </div>
                                    <button class="btn btn--e-brand-b-2" type="submit">ĐẶT HÀNG</button>
                                    <!--====== End - Street Address ======-->
                                    <!--====== Country ======-->
                                    
                                }
                                    


                                    
                                </div>
                            @*</form>*@
                        </div>
                        <div class="col-lg-6">
                            <h1 class="checkout-f__h1">THÔNG TIN ĐƠN HÀNG</h1>

                            <!--====== Order Summary ======-->
                            <div class="o-summary">
                                @foreach (var item in Model)
                                {
                                    <div class="o-summary__section u-s-m-b-30">
                                        <div class="o-summary__item-wrap gl-scroll">
                                            <div class="o-card">
                                                <div class="o-card__flex">
                                                    <div>

                                                        <img src="@item.Product.ANH" alt="" width="100">
                                                    </div>
                                                    <div class="o-card__info-wrap">

                                                        <span class="o-card__name">

                                                            <a href="/chi-tiet-san-pham/@item.Product.ID">@item.Product.TENSP</a>
                                                        </span>

                                                        <span class="o-card__quantity">Số lượng x @item.Quantity</span>

                                                        @if (item.Product.GIAMGIA != null)
                                                        {
                                                            <span class="o-card__price">@((item.Product.GIAMGIA.GetValueOrDefault(0) * item.Quantity).ToString("N0")) VND</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="o-card__price">@((item.Product.GIAX.GetValueOrDefault(0) * item.Quantity).ToString("N0")) VND</span>
                                                        }
                                                    </div>
                                                </div>

                                                <a class="far fa-trash-alt table-p__delete-link btn-delete" href="#" data-id="@item.Product.ID"></a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <table class="o-summary__table">
                                        <tbody>
                                            

                                            <tr>
                                                <td>Tổng</td>
                                                @{
                                                    var sum = (Model.Where(x => x.Product.GIAMGIA != null).Sum(x => x.Product.GIAMGIA.GetValueOrDefault(0) * x.Quantity).ToString("N0"));
                                                    
                                                }
                                                <td>@sum VND</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Thành tiền
                                                </td>
                                                <td>@sum VND</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <!--====== End - Order Summary ======-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 3 ======-->
</div>
<!--====== End - App Content ======-->

