@model PagedList.IPagedList<Models.FrameWork.User>

@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách tài khoản.}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách tài khoản</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-5">
                    <div class="input-group">
                        <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        }
        
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th>Tên người dùng</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Quyền</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td>@item.Quyen</td>
                            <td>
                                <a href="/Admin/User/Edit/@item.ID"><button type="button" class="btn btn-primary">Cập nhật</button></a>
                                |
                                <button type="button" class="btn btn-danger">
                                    @Ajax.ActionLink("Xoá", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn muốn xóa bản ghi này không",
                                   OnComplete = "$('#row_ " + item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </button>


                            </td>
                        </tr>

                    }
                    
                </tbody>
            </table>
            
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page,@searchString=ViewBag.SearchString }))
            <a href="/Admin/User/Insert"><button type="button" class="btn btn-primary">Thêm mới</button></a>
        </div>
    </div>
</div>
